@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'DM Serif Display', serif; */

:root {
  --bg-color-1: rgb(255, 255, 255);
  --bg-color-2: rgb(60, 135, 255);
  --bg-color-3: rgb(246, 162, 162);

  --bg-dark-1: rgb(7, 44, 34);
  --bg-dark-2: rgb(5, 49, 64);
  --bg-dark-3: rgb(21, 66, 83);

  --black-0-2: rgba(0, 0, 0, 0.2);
  --black: #000;
  --white: #fff;
  --light-grey: #cacaca;
  --dark-grey: #4d4d4d;

  --con-bg-1: rgba(255, 255, 255, 0.1);
  --con-bg-2: rgba(255, 255, 255, 0.5);

  --nav-dark: rgba(54, 49, 49, 0.5);
  --footer-dark: rgb(54, 49, 49);
  --light-blue: #bfcbe7;

  --box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
}

html {
  overflow-x: hidden;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.25s ease-out;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  letter-spacing: 0.08rem;
}

h1.dark-theme,
h2.dark-theme,
h3.dark-theme,
h4.dark-theme,
h5.dark-theme,
h6.dark-theme {
  color: var(--white);
}

p {
  font-weight: bold;
  font-weight: 500;
  line-height: 1.4rem;
}
p.dark-theme {
  color: var(--white);
}

a {
  text-decoration: none;
  outline: none;
  color: var(--black);
}
a.dark-theme {
  color: var(--white);
}

li {
  list-style: none;
}

.app {
  position: relative;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 16rem); /* Subtract the footer height */
  width: 100vw;
  /* height: 100vh; */
}

nav {
  width: 100vw;
  height: 4rem;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--nav-color);
  backdrop-filter: blur(4px);
  z-index: 998;
}

nav.dark-theme {
  background: var(--nav-dark);
}

footer {
  width: 100%;
  height: 16rem;
  background: var(--white);
  /* position: absolute;
  bottom: 0; */
  z-index: 998;
}
footer.dark-theme {
  background: var(--footer-dark);
}

section {
  min-height: 40vh;
  max-width: 1680px;
}

.period {
  height: 20vh;
  margin-bottom: 10rem;
}

/* Buttons */
.main-button {
  border: 2px solid currentColor;
  /* border-radius: 3rem; */
  color: var(--black);
  font-family: roboto;
  font-weight: 100;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  &::before {
    content: '';
    background-color: var(--black);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.2s transform ease-out;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    will-change: transform;
    z-index: -10;
  }
  &:hover::before {
    transform: scaleX(1);
  }
  &:hover {
    border: 2px solid transparent;
    color: var(--white);
    transform: scale(1.05);
    will-change: transform;
  }
}

.btn-size-one {
  font-size: 1.8rem;
  padding: 1rem 1.8rem;
}

.btn-size-two {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

/* end of button */

.underline {
  border-bottom: 1px solid var(--black);
}

/* Background css */

.background {
  background-color: var(--light-grey);
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -4;
}
.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--white-half);
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(1.5rem);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 1500px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background: linear-gradient(
    90deg,
    var(--bg-color-1) 0%,
    var(--bg-color-2) 58%,
    var(--bg-color-3) 100%
  );

  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 2000px;
  }
}

/* Dark Theme */
.gradient.dark-theme {
  background: linear-gradient(
    90deg,
    var(--bg-dark-1) 0%,
    var(--bg-dark-2) 58%,
    var(--bg-dark-3) 100%
  );
}
.background.dark-theme {
  background: var(--black);
}

.background-blur.dark-theme {
  background: var(--black-0-2);
}

.theme-selector.dark-theme {
  color: var(--white);
}

.main-button.dark-theme {
  color: var(--light-blue);
}

/* End Of Dark Theme */
